{% extends("base.html") %}

{% block("body") %}
<main class="container">
  <h1>Images</h1>

  <section>
    <form hx-encoding="multipart/form-data"
          hx-post
          hx-target="#images-list"
          hx-swap="afterbegin"
          x-data="{ processing: false }"
          @htmx:before-request="processing=true"
          @htmx:after-request="processing=false;$el.reset()"
          >

      <fieldset :disabled="processing">
        <label>
          Upload Image
          <input type="file"
                 name="image"
                 accept="image/png, image/jpeg"
                 required
          />
        </label>
      </fieldset>

      <button type="submit"
              x-text="processing ? 'Uploading...' : 'Upload'"
              :aria-busy="processing"
      >
        Upload
      </button>
    </form>
  </section>

  <section>
    <h3>All images</h3>
    {% include("partials/images-list.html") %}
  </section>
</main>
{% endblock() %}
