{% extends("base.html") %}

{% block("body") %}
<main class="container">
  <h1>My Tierlists</h1>

  <table>
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Created</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>

    <tbody>
      {% for _, tierlist in ipairs(tierlists) do %}
      <tr id="tierlist-{{ tierlist.id }}">
        <th scope="row">
          <a href="/tierlists/{{ tierlist.id }}">{{ tierlist.title }}</a>
        </th>
        <td>{{ tierlist.created_at }}</td>
        <td>
          <button hx-delete="/tierlists/{{ tierlist.id }}"
             hx-target="#tierlist-{{ tierlist.id }}"
             hx-swap="delete"
             hx-confirm="Delete tierlist {{ tierlist.title }}?"
           >
            Delete
          </button>
        </td>
      </tr>
      {% end %}
    </tbody>
  </table>
</main>
{% endblock() %}
